body{/*Clase 133*/
    background: url("../img/cielo.jpg");
    background-attachment: fixed;
}

#logo{/*Clase 133*/
    background: #1f87c4;
}

#menu ul li:hover{/*Clase 133*/
    background: #1f87c4;
}

.button-more{/*Clase 133*/
    background: #1f87c4;
}